* {
    font-family: inherit;
    margin: 0;
    padding: 0;
    list-style: none;
}

/* Palette: */
/*   - Mighty Slate     :: #556270 */
/*   - Pacifica         :: #4ECDC4 */
/*   - apple chic       :: #C7F464 */
/*   - Cheery Pink      :: #FF6B6B */
/*   - grandma's pillow :: #C44D58 */

#eventCounts {
    text-align: center;
    padding: 0 .2em;
}

.getBackground {
    background-color: #4ECDC4;
}

.setBackground {
    background-color: #C7F464;
}

#log {
    border: 1px solid #999;
    height: 20em;
    overflow-y: auto;
}

#log span.operation {
    margin: 0 0.4em;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1.2em;
}

/* ******************** */
/* Charts */
/* ******************** */

/* #eventsChartContainer { */
/*     position: relative; */
/*     font-family: Arial, Helvetica, sans-serif; */
/* } */

/* #eventsChart { */
/*     position: relative; */
/*     left: 40px; */
/* } */

/* #eventsYAxis { */
/*     position: absolute; */
/*     top: 0; */
/*     bottom: 0; */
/*     width: 40px; */
/* } */
